package views

import "github.com/Fibig/seo-helper-ai/layouts"

templ Index(textinger string) {
    @layouts.Base("SEO Helper AI!") {
        <img src="/public/kleinergo.png" />
        {textinger}
    }
}