package views

import "github.com/Fibig/seo-helper-ai/layouts"

templ SEOHelperAIChat() {
    @layouts.Base("Chat - SEO Helper AI")   {
        <h1>Chat</h1>
        <textarea></textarea>
        <button class="bg-black text-white py-2 px-6">Abschicken</button>
    }
}