package views

import "github.com/Fibig/seo-helper-ai/components"

templ Index() {
    <!DOCTYPE html>
    <html>
        @components.Header()
        <body>
            <main>
                Bomboclat2322sasasasasaaaaaaa
            </main>
        </body>
        @components.Footer()
    </html>
}