package components

templ Navbar() {
    <nav class="w-full flex flex-row gap-4 pl-12 py-4 bg-black text-white">
        <a href="/">Home</a>
        <a href="/chat">SEO AI Chat</a>
        <a href="/imprint">Imprint</a>
    </nav>
}